@import '../../css/base';
@import './nouislider.css';

.magic-mod .control-content {
  display: flex;
  flex-direction: row;
}

.topbar h3 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #2980b9;
}

.magic-mod .zone-wrapper {
  flex: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.slider-wrapper {
  flex: 2;
  flex-grow: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.slider-box {
  flex: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}

.slider-box .tip {
  position: absolute;
  bottom: -3rem;
  left: 0;
  right: 0;
}

.slider {
  flex: 1;
  flex-grow: 1;
  margin: 0 45px;
  display: inline-block;
  height: 180px;
}

.slider .noUi-connect {
  background: #c0392b;
}

#id-1-angle .noUi-connect,
#id-2-angle .noUi-connect {
  background: #27ae60;
}



/* together wrapper */
.together-wrapper {
  flex: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.together-content {
  padding-top: 2rem;
  flex: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.together-content .item {
  flex: 1;
  flex-grow: 1;
  margin: 2rem 1rem;
}

.switch {
  width: 4rem;
  margin-top: 3rem;
}

.together-content input[type=checkbox] {
  zoom: 2!important;
  outline: none;
}

.magic-mod .box-content {
  position: relative;
}

.magic-mod .wrapper h4 {
  position: absolute;
  text-align: center;
  top: 1rem;
}
