@import '../../css/base';

.app-toolbar {
  position: relative;
  padding: 0.8rem 1rem;
  // position: fixed;
  // top: 0;
}

.ble-btn {
  float: right;
  border: 1px solid #333;
  padding: 0.3rem 0.8rem;
  background: #fff;
  outline: none;
}

.ble-btn-active {
  color: #08c!important;
}