@import '../../css/base';

.app-toolbar {
  position: relative;
  padding: 0.8rem 1rem;
  height: $toolbar-height;
  text-align: center;
}

.app-toolbar span.title {
  display: inline-block;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 330;
  width: 10rem;
  position: absolute;
  left: 50%;
  margin-left: -5rem;
  top: 1rem;
}

.return-back, .ble-btn {
  width: 2.8rem;
  height: 2.8rem;
  border: 0;
  outline: none;
}

.return-back {
  float: left;
  @include bg-url("icon-back.png");
}

.ble-btn {
  float: right;
  @include bg-url("icon-bluetooth.png");
}

.ble-btn-active {
  color: #08c!important;
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
  .app-toolbar {
    padding: 1rem;
    height: 6rem;
    font-size: 2rem;
  }
}
