@import '../../css/base';

.control-content {
  display: flex;
  flex-direction: column;

  .tool-bar {
    height: 90px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .cbtn {
      width: 6rem;
      height: 6rem;
      outline: none;
      border:0;
      border-radius: 6rem;
      -webkit-border-radius: 6rem;
    }

    .cbtn:nth-child(1) {
      @include bg-url("icon-paishe.png");
    }
    .cbtn:nth-child(2) {
      @include bg-url("icon-penqi.png");
    }
    .cbtn:nth-child(3) {
      @include bg-url("icon-jiaqu.png");
    }
    .cbtn:nth-child(4) {
      @include bg-url("icon-xiqu.png");
    }
    .cbtn:nth-child(5) {
      @include bg-url("icon-hanjie.png");
    }
  }

  .zone-wrapper {
    flex: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .zone {
    flex-grow: 1;
    flex-shrink: 0;
    height: 100%;
    position: relative;

    .nipple {
      opacity: 1!important;
    }
  }

  .back {
    opacity: 1!important;
    background: url(#{$img-path}/bg-joystick.png) no-repeat center!important;
    background-size: 100% 100%!important;
  }

  .front {
    opacity: 1!important;
    display: flex!important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: url(#{$img-path}/icon-joystick.png) no-repeat center!important;
    background-size: 100% 100%!important;
  }

  .btn-selected {
    border: 2px solid #108ee9!important;
  }
}



@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
  .zone .front,
  .tool-bar .cbtn {
    font-size: 3.5rem!important;
  }

  .tool-bar .cbtn {
    padding: 0.3rem 2.5rem;
  }
}
